// ALL PAGES TRANSITION BETWEEN
.fade-appear,
.fade-enter {
    opacity: 0;
    z-index: 1;
}
.fade-appear-active,
.fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 300ms linear 150ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit.fade-exit-active {
    opacity: 0;
    transition: opacity 300ms linear 150ms; /* 150ms */
}

// HOME
.fade-exit-active .container-home{
  &__skill-icons{
    // transition: transform 250ms ease;
    // transform: translateY(-50px);
  }


}

// ABOUT
.fade-appear .about-contacts,
.fade-enter .about-contacts{
  div{
    transform: translateY(-100px);
  }
}
.fade-appear-active .about-contacts,
.fade-enter.fade-enter-active .about-contacts{
  div{
    transition: transform 450ms ease;
    transform: translateY(0px);
  }
}
.fade-exit .about-contacts{
  div{
    transform: translateY(0px);
  }
}
.fade-exit.fade-exit-active .about-contacts{
  div{
    transition: transform 1000ms ease;
    transform: translateY(-100px);
  }
}

// PROJECTS
.fade-appear.portfolio-page,.fade-enter.portfolio-page{
  &>h2{
    transform: translateY(-100px);
  }
  &>p:nth-of-type(1){
    transform: translateX(-50px);
    opacity: 0;
  }
  &>p:nth-of-type(2){
    transform: translateX(50px);
    opacity: 0;
  }
}
.fade-appear-active,
.fade-enter.fade-enter-active.portfolio-page{
  &>h2{
    transform: translateY(0px);
    transition: transform 500ms ease;
  }
  &>p:nth-of-type(1){
    transition: transform 350ms ease 100ms, opacity 600ms ease;
    opacity: 1;
    transform: translateX(0px);
  }
  &>p:nth-of-type(2){
    transition: transform 350ms ease 100ms, opacity 600ms ease;
    opacity: 1;
    transform: translateX(0px);
  }
}
.fade-exit.portfolio-page{
  &>h2{
    transform: translateY(0px);
  }
  &>p:nth-of-type(1){
    opacity: 1;
  }
  &>p:nth-of-type(2){
    opacity: 1;
  }
}

.fade-exit.fade-exit-active.portfolio-page{
  &>h2{
    transition: transform 500ms ease;
    transform: translateY(-100px);
  }
  &>p:nth-of-type(1){
    transition: transform 500ms ease, opacity 300ms ease;
    opacity: 0;
    transform: translateX(-50px);
  }
  &>p:nth-of-type(2){
    transition: transform 500ms ease, opacity 300ms ease;
    opacity: 0;
    transform: translateX(50px);
  }
}

// LEXICON
  // #header
  // #sub-header
  // #paragraph-header
  // &>.lexicon-container__sticky
  // &>.lexicon-container__item-list
.fade-appear.lexicon,
.fade-enter.lexicon{
  #header, #sub-header, #paragraph-header{
    opacity: 0;
    transform: translateY(-100px);
  }
  .lexicon-container__sticky{
    opacity: 0;
    transform: translate(-50px, -50%);
  }
  .lexicon-container__item-list{
    opacity: 0;
    transform: translateY(50px);
  }
}
.fade-appear-active.lexicon,
.fade-enter.fade-enter-active.lexicon{
  #header, #sub-header, #paragraph-header, .lexicon-container__item-list{
    transition: transform 300ms ease, opacity 300ms ease;
    transform: translate(0px);
    opacity: 1;
  }
  .lexicon-container__sticky{
    transition: transform 300ms ease, opacity 300ms ease;
    transform: translate(0px, -50%);
    opacity: 1;
  }
  #sub-header{
    transition-delay: 75ms;
  }
  #paragraph-header, .lexicon-container__sticky, .lexicon-container__item-list{
    transition-delay: 150ms;
  }
}
.fade-exit.lexicon{
  #header, #sub-header, #paragraph-header, .lexicon-container__item-list{
    transform: translateY(0px);
    opacity: 1;
  }
  .lexicon-container__sticky{
    transform: translate(0px, -50%);
    opacity: 1;
  }
}
.fade-exit.fade-exit-active.lexicon{
  #header, #sub-header, #paragraph-header{
    transition: transform 300ms ease, opacity 300ms ease;
    transform: translateY(-100px);
    opacity: 0;
  }
  #sub-header{
    transition-delay: 75ms;
  }
  #paragraph-header, .lexicon-container__sticky, .lexicon-container__item-list{
    transition-delay: 150ms;
  }

  .lexicon-container__sticky{
    transition: transform 300ms ease, opacity 300ms ease;
    opacity: 0;
    transform: translate(-100px, -50%);
  }
  .lexicon-container__item-list{
    transition: transform 300ms ease, opacity 300ms ease;
    opacity: 0;
    transform: translateY(100px);
  }
}