.home{
  background: white;
}
.container-home{
  //background: rgb(59,89,152);
  background: rgba(59, 88, 152, 0.7);
  position: relative;
  overflow: hidden;
  &::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background: url('./media/hero-imgs/floor-tile.png') repeat;
  }
  &__hero{
    clip-path: polygon(0 0, 100% 0, 100% 80%, 70% 80%, 50% 90%, 30% 80%, 0 80%);
    &--img{
      filter: saturate(1.35); 
      width: 100%;
      height: 92vh;
      object-fit: cover;
      object-position: 50% 30%;
    }
    &--para{
      text-align: center;
      position: absolute;
      top: 15%; left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      max-width: 600px;
      p{
        font-family: $ff-Marck;
        color: white;
        font-size: 1.55rem;
        &::after{
          content: '';
          display: block;
          margin: 0 auto;
          position: absolute; 
          bottom: -100%; left: 50%;
          transform: translateX(-50%);
          height: 2px;
          width: 80px;
          // background: white;
          border-bottom: 2px dashed white;
        }
      }
      @media (max-width: 660px){
        padding: 0 10px;
        top: 10%;
        max-width: unset;
        width: 100%;
        p::after{
          bottom: -50%;
        }
      }
     
    }
  }

  &__experience{
    text-align: center;
    margin-top: -50px;
    span{
      font-family: $ff-Russo;
      color: black;
      position: relative;
      &::before, &::after{
        content: '';
        display: block;
        width: 20px;
        height: 3px;
        background: black;
        margin: 0 auto;
      }
      &::before{
        position: absolute; top: 50%; left: -30px;
        transform: translateY(-50%);
      }
      &::after{
        position: absolute; top: 50%; right: -30px;
        transform: translateY(-50%);
      }
    }
  }

  &__skill-icons{
    width: 80%;
    margin: 50px auto 0;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .icon-container{
      z-index: 2;
      width: 100px;
      height: 100px;
      // overflow: hidden;
      text-align: center;
      margin: 15px 10px;
      background: black;
      border: 1px solid white;
      i{  
        color: white;
        font-size: 64px;
        line-height: 100px;
      }
      .desc{
        background: rgba(105, 105, 105, 0.87);
      }
    }
    .icon-container:nth-child(1){
      i{color: yellow;}
      .desc{color: #fff;font-family: $ff-Russo;}
    }
    .icon-container:nth-child(2){
      i{color: #4DD0E1;}
      .desc{color: #fff;font-family: $ff-Russo;}
    }
    .icon-container:nth-child(3){
      i{color: #cf649a;}
      .desc{color: #fff;font-family: $ff-Russo;}
    }
    .icon-container:nth-child(4){
      i{color: rgb(250, 39, 39);}
      .desc{color: #fff;font-family: $ff-Russo;}
    }
    .icon-container:nth-child(5){
      i{color: #fff;}
      .desc{color: #fff;font-family: $ff-Russo;}
    }
    .icon-container:nth-child(6){
      i{color: #e44f26;}
      .desc{color: #fff;font-family: $ff-Russo;}
    }
    .icon-container:nth-child(7){
      i{color: #6f43a4;}
      .desc{color: #fff;font-family: $ff-Russo;}
    }
    .icon-container:nth-child(8){
      i{color: #19e634;}
      .desc{color: #fff;font-family: $ff-Russo; letter-spacing: -1px;}
    }
  }

}