.lexicon .lexicon-container .lexicon-container__grid ul .item-list-li {
  .description-main{
    color: #000;
    &__core{
      padding: 10px;
    }
    &__extended{
      padding: 10px;
      .span-bold{ font-weight: 900; }
    }
  }
  
/*                    REACT                   */
  .content-react{

  }

/*                    JavaScript                   */

/*                    Redux                   */

/*                    MongoDB                   */
}