// adding a scrollbar to any page to prevent page move
body{
  overflow-y: scroll;
}

// portfolio background colors
$top-portfolio-color: rgb(90, 90, 90);    // top segment page
$bot-portfolio-color: rgb(66, 66, 66);    // bottom segment page

// portfoliot font
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
$ff-Russo: 'Russo One', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
$ff-Marck: 'Marck Script', cursive;

// spinners

.about-spinner, .home-spinner{
  img{
    width: 200px;
  }
  position: absolute; top: 160px; left: 50%;
  transform: translateX(-50%);
}