.nav-bar{
  height: 60px;
  width: 100%;
  background: linear-gradient(
    to right,
    white,
    lightgrey,
    white
  )
}
.nav-bar > .container{
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.nav-bar > .container .nav-link{
  width: 70px;
  color: black;
  display: inline-block;
  line-height: 60px;
  text-decoration: none;
}
.nav-link:hover{
  background: grey;
}