#portfolio-page{
  background: rgb(63, 63, 63);
  padding-top: 50px;
  .portfolio-grid{
    // background: white;
    //overflow: hidden;
    width: 80%;
    background: rgb(63, 63, 63);
    margin: 25px auto 0px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 350px));
    grid-auto-rows: 500px;
    
    grid-column-gap: 15px;
    grid-row-gap: 50px;
    justify-content: center;
   
    
    .card{
      position: relative;
      width: 100%;
      height: 100%;
      // border: 1px solid black;
      transition: 350ms;
      overflow: hidden;
      box-shadow: 0px 27px 40px -20px rgba(0,0,0,0.75);
      text-transform: uppercase;
      font-family: verdana;
      border: 0px solid black;
      border-radius: 5px;

      // &:hover{
       
      // }

      .card-background{
        height: 100%;
        img{
          width: 100%; height: 100%;
          object-fit: cover;
        }
      }
      

      .top-touch{
        position: absolute;
        top: 0;
        right: 0;
        background: rgb(211, 143, 16);
        width: 100%;
        height: 250px;
        clip-path: polygon(70% 0, 85% 0, 100% 15%, 100% 30%);
      }

      .card-description{
        position: absolute;
        width: 100%;
        bottom: 25%;
        left:0;

        &__title{
          text-align: center;
          color: white;
          font-size: 1.6em;
          background: black;
        }
        &__language{
          text-align: center;
          color: rgb(216, 216, 216);
          font-size: 0.85em;
          padding: 0 10px;
          background: rgba(0, 0, 0, 0.45);
          &::after{
            content: '';
            display: block;
            width: 10%;
            height: 2px;
            background: white;
            margin: 10px auto;
          }
        }
        &__icon--container{
          display: flex;
          flex-direction: row;
          justify-content: center;
          justify-content: space-evenly;
          .icon-language{
          
          width: 70px;
          height: 70px;
          border-radius: 50%;
          border: 1px white solid;
          
          overflow:hidden;
          text-align: center;
          background: orange;
          i{  
            
            color: white;
            font-size: 34px;
            line-height: 70px;
            
          }
        }
        }
        &__link{
          text-align: center;
          margin-top: 20px;
          a{
            line-height: 40px;
            text-decoration: none;
            color: white;
            display: inline-block;
            width: 50%;
            height: 100%;
            letter-spacing: 2px;
            
          
            &:nth-child(1){
              background-color: brown;
            }
            &:nth-child(2){
              background-color: black;
            }
            &:hover{
              cursor: pointer;
              background: white;
              color: black;
            }
          }

          i{    // github icon
            margin-left: 10px;
            font-size: 20px;
          }
          a:nth-child(1) i{
            font-size: 18px;
          }
        }
      }   // card-description end

      &-description__hover--text{
        padding-top: 20px;
        text-align: center;
        width: 100%;
        height: 130px;
        background: rgba(0, 0, 0, 0.45);
        position: absolute;
        bottom: 0; left: 0;
        transform: translateY(140px);
        transition: 450ms all ease;
        color: white;
      }
        // card hover
      &:hover .card-description__hover--text{
       
        transform: translateY(5px);
        transition: 450ms all ease;
      }
    } // card end
   

      // different styles on images
    .photography-card{
        .card-background{
          filter: brightness(0.75);
          img{
            object-fit: none;
            object-position: -60px -370px;
          }
        }
    }
    .guess-card{
      .card-background{
        filter: brightness(0.60);
        img{
          object-fit: cover;
          object-position: -50px 0px;
        }
      }
    }
    .actor-card{
      .card-background{
        filter: brightness(1.20);
        img{
          object-fit: none;
          object-position: -130px -260px;
        }
      }
    }
    .chest-card{
      .card-background{
        filter: brightness(1.10);
        img{
          object-fit: cover;
          object-position: -190px 0px;
        }
      }
    }
    .hero-card{
      .card-background{
        filter: brightness(0.60);
        img{
          object-fit: cover;
          object-position: -60px 0px;
        }
      }
    }
    .shelter-card{
      .card-background{
        filter: brightness(0.55);
        img{
          object-fit: cover;
          object-position: -150px 0px;
        }
      }
    }
    .hussars-card{
      .card-background{
        filter: brightness(0.75);
        img{
          object-fit: cover;
          object-position: -350px 0px;
        }
      }
    }
    .car-dealer-card{
      .card-background{
        filter: brightness(0.60);
        img{
          object-fit: cover;
          object-position: -250px 0px;
        }
      }
    }
    .church-card{
      .card-background{
        filter: brightness(0.70);
        img{
          object-fit: cover;
          object-position: 0px 0px;
        }
      }
    }


  }

  .separator{
    margin: 0 auto;
    width: 80%;
    height: 300px;
    background: lightblue;
    text-align: center;
    line-height: 300px;

  }

  @media(max-width: 65em){
    .portfolio-grid{
      width: 90%;
    }
  }
  
  @media(max-width: 35em){
    .portfolio-grid{
      width: 95%;
    }
  }
}