// @import './sass/general';
// @import './components/Navigation/navbar';
// @import './components/Projects/projects';
// @import './components/Github/github';
// @import './sass/lexicon';
// @import './sass/lexiconList';
// @import './components/notFound';
// @import './components/nightMode';

// adding a scrollbar to any page to prevent page move
body {
  overflow-y: scroll;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html,
body {
  min-height: 100vh;
  // background: black;
}

// portfolio background colors
$top-portfolio-color: rgb(90, 90, 90); // top segment page
$bot-portfolio-color: rgb(117, 117, 117); // bottom segment page

// portfolio fonts
@import url('https://fonts.googleapis.com/css?family=Russo+One&display=swap');
$ff-Russo: 'Russo One', sans-serif;

@import url('https://fonts.googleapis.com/css?family=Marck+Script&display=swap');
$ff-Marck: 'Marck Script', cursive;

@import url('https://fonts.googleapis.com/css?family=Turret+Road:400,700&display=swap');
$ff-Nav: 'Turret Road', cursive;

// spinners

.spinner {
  position: absolute;
  top: 160px;
  left: 50%;
  transform: translateX(-50%);
  img {
    width: 200px;
  }
}

.not-found-page {
  margin-top: 100px;
  text-align: center;
}

@keyframes animatePage {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
