body {
  overflow-y: scroll; }

.nav-bar {
  height: 60px;
  width: 100%;
  box-shadow: 0px 7px 14px -5px rgba(0, 0, 0, 0.75);
  background: -webkit-gradient(linear, left top, right top, from(#8b9dc3), color-stop(#3b5998), to(#8b9dc3));
  background: linear-gradient(to right, #8b9dc3, #3b5998, #8b9dc3); }
  .nav-bar .container {
    width: 80%;
    display: grid;
    grid-template-columns: 60px 1fr 60px;
    margin: 0 auto; }
    .nav-bar .container .nav-logo img {
      position: relative;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%); }
    .nav-bar .container .nav-logo:hover {
      background: rgba(255, 255, 255, 0.233); }
    .nav-bar .container .nav-links-container {
      grid-column: 2 / span 1;
      text-align: center; }
      .nav-bar .container .nav-links-container .nav-link {
        width: 70px;
        color: white;
        display: inline-block;
        line-height: 60px;
        text-decoration: none; }
        .nav-bar .container .nav-links-container .nav-link:hover {
          color: #8b9dc3; }
      .nav-bar .container .nav-links-container .active {
        color: #8b9dc3; }
    .nav-bar .container .nav-icons {
      display: grid;
      grid-template-columns: 1fr 1fr; }
      .nav-bar .container .nav-icons a {
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: black; }
        .nav-bar .container .nav-icons a:hover {
          background: black;
          color: white; }
      .nav-bar .container .nav-icons i {
        font-size: 24px;
        line-height: 60px; }

.container-home h1 {
  color: red; }

.about {
  min-height: 90vh;
  width: 90%;
  margin: 0 auto;
  padding: 200px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: auto; }
  .about__top {
    font-family: Verdana;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: left;
    margin: 10px 25px;
    position: relative;
    line-height: 1.3em;
    font-size: 1.75vw; }
    @media screen and (min-width: 1335px) {
      .about__top {
        font-size: 1.4em; } }
    @media screen and (min-width: 1930px) {
      .about__top {
        font-size: 2em; } }
    .about__top::after {
      content: '';
      position: absolute;
      margin-top: 50px;
      margin-left: 4vw;
      display: block;
      height: 3px;
      width: 15%;
      background: #016cc4; }
  .about__mid {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
    font-size: 5em;
    text-align: center;
    position: relative;
    height: 100px;
    color: white;
    overflow: hidden; }
    .about__mid::after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background: #016cc4;
      border-radius: 3px;
      border: 1px solid #016cc4; }
    .about__mid span#about-text {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(-200%);
              transform: translateX(-200%);
      top: 0;
      z-index: 10;
      line-height: 100px;
      -webkit-transition: all ease-out 1s;
      transition: all ease-out 1s; }
  .about__mid-right {
    grid-column: 5 / 7;
    grid-row: 2 / 3;
    font-size: 5em;
    text-align: center;
    position: relative;
    height: 100px;
    color: white;
    align-self: center; }
    .about__mid-right::after {
      content: '';
      display: block;
      width: 40%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      background: #016cc4;
      border-radius: 3px;
      border: 1px solid #016cc4; }
    .about__mid-right span#me-text {
      position: absolute;
      left: 50%;
      -webkit-transform: translateX(120%);
              transform: translateX(120%);
      top: 0;
      z-index: 10;
      line-height: 100px;
      text-indent: -1vw;
      -webkit-transition: all ease-out 1s;
      transition: all ease-out 1s; }
  .about__bottom {
    font-family: Verdana;
    grid-column: 1 / 3;
    margin: 10px 25px;
    font-size: 1.75vw;
    line-height: 1.3em; }
    @media screen and (min-width: 1200px) {
      .about__bottom {
        font-size: 1.4em; } }
    @media screen and (min-width: 1930px) {
      .about__bottom {
        font-size: 2em; } }
  .about figure {
    grid-column: 3 / 6;
    grid-row: 1 / 6;
    width: 100%;
    height: 100%;
    position: relative;
    box-shadow: 0px 21px 15px -13px rgba(0, 0, 0, 0.75); }
  .about__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: brightness(60%);
            filter: brightness(60%); }

@media (max-width: 60em) {
  .about {
    width: 100%;
    margin: 0 auto;
    padding: 0 0 50px 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto; }
    .about__top {
      grid-column: 1;
      grid-row: 2;
      text-align: center;
      margin: 50px 25px;
      font-size: 1.4em; }
      .about__top::after {
        display: none; }
    .about__mid {
      grid-column: 1;
      grid-row: 1;
      font-size: 2.75em;
      letter-spacing: 15px; }
      .about__mid::after {
        width: 100%;
        border-radius: 0;
        border: 0; }
    .about__mid-right {
      display: none; }
    .about__bottom {
      text-align: center;
      grid-column: 1;
      grid-row: auto;
      margin: 50px 25px;
      font-size: 1.35em; }
      .about__bottom::before {
        content: '';
        display: block;
        height: 3px;
        width: 25%;
        background: #016cc4;
        margin: 0px auto 50px auto; }
    .about figure {
      grid-column: 1;
      grid-row: auto;
      width: 90%;
      margin: 0 auto; }
    .about__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      -webkit-filter: brightness(60%);
              filter: brightness(60%); } }

#portfolio-page {
  background: #3f3f3f;
  padding-top: 50px; }
  #portfolio-page .portfolio-grid {
    width: 80%;
    background: #3f3f3f;
    margin: 25px auto 0px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 350px));
    grid-auto-rows: 500px;
    grid-column-gap: 15px;
    grid-row-gap: 50px;
    -webkit-box-pack: center;
            justify-content: center; }
    #portfolio-page .portfolio-grid .card {
      position: relative;
      width: 100%;
      height: 100%;
      -webkit-transition: 350ms;
      transition: 350ms;
      overflow: hidden;
      box-shadow: 0px 27px 40px -20px rgba(0, 0, 0, 0.75);
      text-transform: uppercase;
      font-family: verdana;
      border: 0px solid black;
      border-radius: 5px; }
      #portfolio-page .portfolio-grid .card .card-background {
        height: 100%; }
        #portfolio-page .portfolio-grid .card .card-background img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      #portfolio-page .portfolio-grid .card .top-touch {
        position: absolute;
        top: 0;
        right: 0;
        background: #d38f10;
        width: 100%;
        height: 250px;
        -webkit-clip-path: polygon(70% 0, 85% 0, 100% 15%, 100% 30%);
                clip-path: polygon(70% 0, 85% 0, 100% 15%, 100% 30%); }
      #portfolio-page .portfolio-grid .card .card-description {
        position: absolute;
        width: 100%;
        bottom: 25%;
        left: 0; }
        #portfolio-page .portfolio-grid .card .card-description__title {
          text-align: center;
          color: white;
          font-size: 1.6em;
          background: black; }
        #portfolio-page .portfolio-grid .card .card-description__language {
          text-align: center;
          color: #d8d8d8;
          font-size: 0.85em;
          padding: 0 10px;
          background: rgba(0, 0, 0, 0.45); }
          #portfolio-page .portfolio-grid .card .card-description__language::after {
            content: '';
            display: block;
            width: 10%;
            height: 2px;
            background: white;
            margin: 10px auto; }
        #portfolio-page .portfolio-grid .card .card-description__icon--container {
          display: -webkit-box;
          display: flex;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
                  flex-direction: row;
          -webkit-box-pack: center;
                  justify-content: center;
          -webkit-box-pack: space-evenly;
                  justify-content: space-evenly; }
          #portfolio-page .portfolio-grid .card .card-description__icon--container .icon-language {
            width: 70px;
            height: 70px;
            border-radius: 50%;
            border: 1px white solid;
            overflow: hidden;
            text-align: center;
            background: orange; }
            #portfolio-page .portfolio-grid .card .card-description__icon--container .icon-language i {
              color: white;
              font-size: 34px;
              line-height: 70px; }
            #portfolio-page .portfolio-grid .card .card-description__icon--container .icon-language img {
              width: 36px;
              position: relative;
              top: 50%;
              -webkit-transform: translateY(-50%);
                      transform: translateY(-50%); }
        #portfolio-page .portfolio-grid .card .card-description__link {
          text-align: center;
          margin-top: 20px; }
          #portfolio-page .portfolio-grid .card .card-description__link a {
            line-height: 40px;
            text-decoration: none;
            color: white;
            display: inline-block;
            width: 50%;
            height: 100%;
            letter-spacing: 2px; }
            #portfolio-page .portfolio-grid .card .card-description__link a:nth-child(1) {
              background-color: brown; }
            #portfolio-page .portfolio-grid .card .card-description__link a:nth-child(2) {
              background-color: black; }
            #portfolio-page .portfolio-grid .card .card-description__link a:hover {
              cursor: pointer;
              background: white;
              color: black; }
          #portfolio-page .portfolio-grid .card .card-description__link i {
            margin-left: 10px;
            font-size: 20px; }
          #portfolio-page .portfolio-grid .card .card-description__link a:nth-child(1) i {
            font-size: 18px; }
      #portfolio-page .portfolio-grid .card-description__hover--text {
        padding-top: 20px;
        text-align: center;
        width: 100%;
        height: 130px;
        background: rgba(0, 0, 0, 0.45);
        position: absolute;
        bottom: 0;
        left: 0;
        -webkit-transform: translateY(140px);
                transform: translateY(140px);
        -webkit-transition: 450ms all ease;
        transition: 450ms all ease;
        color: white; }
      #portfolio-page .portfolio-grid .card:hover .card-description__hover--text {
        -webkit-transform: translateY(5px);
                transform: translateY(5px);
        -webkit-transition: 450ms all ease;
        transition: 450ms all ease; }
    #portfolio-page .portfolio-grid .photography-card .card-background {
      -webkit-filter: brightness(0.75);
              filter: brightness(0.75); }
      #portfolio-page .portfolio-grid .photography-card .card-background img {
        object-fit: none;
        object-position: -60px -370px; }
    #portfolio-page .portfolio-grid .guess-card .card-background {
      -webkit-filter: brightness(0.6);
              filter: brightness(0.6); }
      #portfolio-page .portfolio-grid .guess-card .card-background img {
        object-fit: cover;
        object-position: -50px 0px; }
    #portfolio-page .portfolio-grid .actor-card .card-background {
      -webkit-filter: brightness(1.2);
              filter: brightness(1.2); }
      #portfolio-page .portfolio-grid .actor-card .card-background img {
        object-fit: none;
        object-position: -130px -260px; }
    #portfolio-page .portfolio-grid .chest-card .card-background {
      -webkit-filter: brightness(1.1);
              filter: brightness(1.1); }
      #portfolio-page .portfolio-grid .chest-card .card-background img {
        object-fit: cover;
        object-position: -190px 0px; }
    #portfolio-page .portfolio-grid .hero-card .card-background {
      -webkit-filter: brightness(0.6);
              filter: brightness(0.6); }
      #portfolio-page .portfolio-grid .hero-card .card-background img {
        object-fit: cover;
        object-position: -60px 0px; }
    #portfolio-page .portfolio-grid .shelter-card .card-background {
      -webkit-filter: brightness(0.55);
              filter: brightness(0.55); }
      #portfolio-page .portfolio-grid .shelter-card .card-background img {
        object-fit: cover;
        object-position: -150px 0px; }
    #portfolio-page .portfolio-grid .hussars-card .card-background {
      -webkit-filter: brightness(0.75);
              filter: brightness(0.75); }
      #portfolio-page .portfolio-grid .hussars-card .card-background img {
        object-fit: cover;
        object-position: -350px 0px; }
    #portfolio-page .portfolio-grid .car-dealer-card .card-background {
      -webkit-filter: brightness(0.6);
              filter: brightness(0.6); }
      #portfolio-page .portfolio-grid .car-dealer-card .card-background img {
        object-fit: cover;
        object-position: -250px 0px; }
    #portfolio-page .portfolio-grid .church-card .card-background {
      -webkit-filter: brightness(0.7);
              filter: brightness(0.7); }
      #portfolio-page .portfolio-grid .church-card .card-background img {
        object-fit: cover;
        object-position: 0px 0px; }
  #portfolio-page .separator {
    margin: 0 auto;
    width: 80%;
    height: 300px;
    background: lightblue;
    text-align: center;
    line-height: 300px; }
  @media (max-width: 65em) {
    #portfolio-page .portfolio-grid {
      width: 90%; } }
  @media (max-width: 35em) {
    #portfolio-page .portfolio-grid {
      width: 95%; } }

#github-page {
  margin-top: 50px; }
  #github-page .user-container {
    display: grid;
    width: 70%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr); }
    #github-page .user-container__image--image {
      margin: 0 auto;
      display: block;
      min-width: 240px;
      width: 50%;
      object-fit: cover; }
    #github-page .user-container__image--desc {
      display: block;
      width: 155px;
      margin: 15px auto;
      justify-self: center;
      text-align: center;
      background: white;
      border: 1px solid black; }
      #github-page .user-container__image--desc a {
        padding: 5px;
        display: block;
        color: black;
        font-size: 1.15rem;
        font-weight: 900;
        text-decoration: none;
        width: 100%;
        border: 1px solid black; }
        #github-page .user-container__image--desc a:hover {
          background-color: #3b5998;
          color: white;
          border: 1px solid white; }
    #github-page .user-container__bio {
      align-self: start;
      text-align: left;
      width: 90%;
      margin: 0 auto; }
      #github-page .user-container__bio ul {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
                flex-direction: column; }
        #github-page .user-container__bio ul li {
          list-style: none;
          display: block;
          padding: 15px 20px;
          background-color: #fff;
          border: 1px solid #8b9dc3;
          font-weight: bold; }
          #github-page .user-container__bio ul li span {
            color: grey;
            font-weight: 300; }
        #github-page .user-container__bio ul li:nth-of-type(1) {
          display: -webkit-box;
          display: flex;
          -webkit-box-pack: justify;
                  justify-content: space-between;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
                  flex-direction: row; }
          #github-page .user-container__bio ul li:nth-of-type(1) form {
            margin-left: 5px;
            display: inline-block; }
            #github-page .user-container__bio ul li:nth-of-type(1) form input {
              width: 100px;
              height: 20px; }
            #github-page .user-container__bio ul li:nth-of-type(1) form button {
              border: 0;
              background: rgba(139, 157, 195, 0.466);
              width: 30px;
              height: 20px; }
              #github-page .user-container__bio ul li:nth-of-type(1) form button:hover {
                cursor: pointer;
                background: #8b9dc3;
                color: white; }
      #github-page .user-container__bio--about {
        text-align: center; }
        #github-page .user-container__bio--about::before {
          content: '';
          width: 80%;
          margin: 50px auto 15px;
          height: 1px;
          background: #8b9dc3;
          display: block; }
  #github-page .repo-container {
    text-align: center;
    width: 60%;
    margin: 200px auto 100px; }
    #github-page .repo-container__title {
      font-size: 1.25em;
      font-weight: bold; }
    #github-page .repo-container .repo-headers {
      margin-top: 20px;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      border-bottom: 1px solid black; }
      #github-page .repo-container .repo-headers .repo-item-header {
        color: grey;
        list-style: none;
        align-self: center; }
    #github-page .repo-container .repo-list {
      margin-top: 5px; }
      #github-page .repo-container .repo-list .repo {
        display: block;
        padding: 15px 0; }
        #github-page .repo-container .repo-list .repo:nth-of-type(odd) {
          background: #dfe3ee; }
        #github-page .repo-container .repo-list .repo-ul {
          display: grid;
          grid-template-columns: repeat(4, 1fr); }
          #github-page .repo-container .repo-list .repo-ul .repo-item {
            list-style: none;
            align-self: center; }
  @media (max-width: 65em) {
    #github-page .user-container {
      width: 85%; }
      #github-page .user-container__image--image {
        width: 70%; }
    #github-page .repo-container {
      width: 85%;
      margin: 125px auto 40px; } }
  @media (max-width: 35em) {
    #github-page .user-container {
      width: 95%;
      grid-template-columns: 1fr; }
      #github-page .user-container__image--image {
        width: 80%; }
      #github-page .user-container__bio--about {
        margin-top: 30px; }
    #github-page .repo-container {
      width: 100%;
      padding: 0 2px;
      font-size: 0.9em;
      margin: 100px auto 30px; } }
